body {
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3.6fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    background-color: lightskyblue;
    grid-row: span 2;
}

.header {
    background-color: azure;
}

.main-content {
    background-color: beige;
}